.sidebar_rq {
    width: 250px;
    height: 100%;
    background-color: #f0f0f0;
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid #ddd;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 1000;    /* 높은 z-index 값 설정 */
}

.sidebar-header_rq {
    display: flex; /* 플렉스 박스 사용 */
    justify-content: space-between; /* 양쪽 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.close-button_rq,
.new-chat-button_rq {
    margin-left: 10px;
    margin-right: auto; /* 왼쪽으로 이동 */
    padding: 5px 10px;
    background-color: #367cff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 채팅 로그 스타일 조정 */
.chat-log_rq {
    margin-top: 20px; /* 위쪽 여백 추가 */
    padding: 10px; /* 패딩 추가 */
    background-color: transparent; /* 배경을 투명으로 설정 */
    border-radius: 5px; /* 모서리 둥글게 */
    max-height: 400px; /* 최대 높이 설정 */
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
    border: none; /* 테두리 제거 */
}

.chat-message_rq {
    padding: 10px; /* 메시지 여백 추가 */
    border-bottom: none; /* 구분선 제거 */
    margin-bottom: 10px;
}

.chat-message:last-child_qz {
    border-bottom: none; /* 마지막 메시지에는 구분선 제거 */
}

.chat-log h4_rq {
    margin: 10px 0 5px; /* 날짜 제목 여백 */
    font-size: 1.2em; /* 날짜 제목 크기 조정 */
    color: #367cff; /* 날짜 제목 색상 */
}

/* 홈 버튼 */
.home-button_rq {
    position: absolute;
    bottom: 20px; /* 하단에 고정 */
    left: 10px;
    width: calc(100% - 40px); /* 좌우 여백을 제외한 너비 */
    padding: 10px 20px;
    background-color: #367cff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}