.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.user_name {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 105px;
  top: 52px;
  width: 1156px;
  height: 217px;
}
.component-8 {
  border-radius: 40px;
  width: 963px;
  height: 113px;
  position: absolute;
  left: 233px;
  top: 189px;
}
.middle_box {
  background: #ec9f23;
  border-radius: 20px;
  width: 95.07%;
  height: 100%;
  position: absolute;
  right: 4.93%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.last_study_days {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 1.75%;
  width: 98.25%;
  bottom: 35.93%;
  top: 37.72%;
  text-align: center; /* 텍스트 가운데 정렬 */
}
.more_than {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 428px;
  top: 344px;
}
.quote {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 266px;
  top: 390px;
  width: 872px;
  height: 92px;
}
.component-9 {
  width: 268px;
  height: 206px;
  position: absolute;
  left: 598px;
  top: 553px;
}
.quize_box {
  background: #367cff;
  border-radius: 20px;
  width: 94.61%;
  height: 100%;
  position: absolute;
  right: 2.94%;
  left: 2.45%;
  bottom: 0%;
  top: 0%;
}
.quize_content {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 19.4%;
  left: 18.28%;
  width: 62.31%;
  bottom: 39.32%;
  top: 38.83%;
  height: 21.84%;
  white-space: nowrap; /* 줄바꿈 방지 */
}
.today_quize {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 61.76%;
  top: 10.29%;
  height: 27.94%;
}
.quize_box_more {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  right: 39.71%;
  left: 43.63%;
  width: 16.67%;
  bottom: 0%;
  top: 77.94%;
  height: 22.06%;
}
.component-13 {
  width: 268px;
  height: 206px;
  position: absolute;
  left: 250px;
  top: 551px;
}
.component-12 {
  width: 268px;
  height: 206px;
  position: absolute;
  left: 960px;
  top: 551px;
}
.rectangle-472 {
  background: var(--1, #367cff);
  border-radius: 20px;
  width: 94.61%;
  height: 100%;
  position: absolute;
  right: 2.94%;
  left: 2.45%;
  bottom: 0%;
  top: 0%;
}
.div7 {
  opacity: 0.9;
  position: absolute;
  inset: 0;
}
.component-1 {
  width: 82px;
  height: 78px;
  position: absolute;
  left: 22px;
  top: 903px;
}
.go_to_main_box {
  background: #d9d9d9;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.go_to_main_content {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 13.41%;
  left: 14.63%;
  width: 71.95%;
  bottom: 6.41%;
  top: 69.23%;
  height: 24.36%;
  white-space: nowrap; /* 줄바꿈 방지 */
}
.home-02 {
  width: 51.22%;
  height: 50%;
  position: absolute;
  right: 24.39%;
  left: 24.39%;
  bottom: 30.77%;
  top: 19.23%;
  overflow: visible;
}
.component-2 {
  width: 79px;
  height: 96px;
  position: absolute;
  left: 22px;
  top: 777px;
}
.ellipse-1 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 82.28%;
  height: 64.58%;
  position: absolute;
  right: 7.59%;
  left: 10.13%;
  bottom: 35.42%;
  top: 0%;
}
.div9 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 80.21%;
  height: 19.79%;
}
.message-plus-square {
  width: 72.15%;
  height: 58.33%;
  position: absolute;
  right: 12.66%;
  left: 15.19%;
  bottom: 38.54%;
  top: 3.12%;
  overflow: visible;
}
.component-3 {
  width: 139px;
  height: 205px;
  position: absolute;
  left: -1px;
  top: 174px;
}
.last_study_days2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  right: 20.14%;
  left: 23.02%;
  width: 56.83%;
  bottom: 52.2%;
  top: 37.12%;
  height: 12.68%;
}
.chat_box {
  background: #d9d9d9;
  width: 82.01%;
  height: 35.12%;
  position: absolute;
  right: 7.91%;
  left: 10.07%;
  bottom: 64.88%;
  top: 0%;
}
.chat_content {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  right: 0.72%;
  left: 0%;
  width: 99.28%;
  bottom: 66.34%;
  top: 13.66%;
  height: 20%;
  white-space: nowrap; /* 줄바꿈 방지 */
}
.user_name1 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 58.27%;
  left: 15.83%;
  width: 25.9%;
  bottom: 87.8%;
  top: 2.93%;
  height: 9.27%;
  white-space: nowrap; /* 줄바꿈 방지 */
}
.last_study_days1 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  right: 19.42%;
  left: 23.02%;
  width: 57.55%;
  bottom: 0%;
  top: 92.32%;
  height: 12.68%;
}
.chat_box2 {
  background: #d9d9d9;
  width: 82.01%;
  height: 35.12%;
  position: absolute;
  right: 7.19%;
  left: 10.79%;
  bottom: 12.68%;
  top: 52.2%;
  z-index: 1; /* 낮은 z-index */
}
.chat_content2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0.72%;
  width: 99.28%;
  bottom: 14.15%;
  top: 65.85%;
  height: 20%;
  z-index: 900; /* 낮은 z-index */
}
.user_name2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 57.55%;
  left: 16.55%;
  width: 25.9%;
  bottom: 35.61%;
  top: 55.12%;
  height: 9.27%;
  z-index: 999; /* 매우 높은 z-index 맨 앞으로*/
  white-space: nowrap; /* 줄바꿈 방지 */
}
.component-4 {
  width: 51px;
  height: 53px;
  position: absolute;
  left: 21px;
  top: 26px;
}
.rectangle-40 {
  background: #d9d9d9;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.my_information_box {
  background: #d9d9d9; /* 배경색 */
  width: 100%; /* 너비 */
  height: 100%; /* 높이 */
  position: absolute; /* 절대 위치 */
  right: 0%; /* 오른쪽 여백 */
  left: 0%; /* 왼쪽 여백 */
  bottom: 0%; /* 아래 여백 */
  top: 0%; /* 위 여백 */
}

.my_information_content {
  color: #000000; /* 텍스트 색상 */
  text-align: center; /* 텍스트 가운데 정렬 */
  font-family: "Inter-Regular", sans-serif; /* 폰트 패밀리 */
  font-size: 16px; /* 폰트 크기 */
  font-weight: 400; /* 폰트 굵기 */
  position: absolute; /* 절대 위치 */
  right: 0; /* 오른쪽 여백 */
  left: 0; /* 왼쪽 여백 */
  bottom: 10%; /* 아래 여백 */
  top: 70%; /* 위 여백 */
  white-space: nowrap; /* 줄바꿈 방지 */
}


.face-id-square {
  width: 76.47%;
  height: 66.04%;
  position: absolute;
  right: 9.8%;
  left: 13.73%;
  bottom: 26.42%;
  top: 7.55%;
  overflow: visible;
}
.how_study_box {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 1028px;
  top: 641px;
}
.frame-7 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 4px;
  top: 632px;
  overflow: hidden;
}
.word_box {
  background: #367cff; /* 배경색 */
  border-radius: 20px; /* 모서리 둥글기 */
  width: 94.61%; /* 너비 */
  height: 100%; /* 높이 */
  position: absolute; /* 절대 위치 */
  right: 2.94%; /* 오른쪽 여백 */
  left: 2.45%; /* 왼쪽 여백 */
  bottom: 0%; /* 아래 여백 */
  top: 0%; /* 위 여백 */
}

.word_content {
  color: #ffffff; /* 텍스트 색상 */
  text-align: center; /* 텍스트 가운데 정렬 */
  font-family: "Inter-Regular", sans-serif; /* 폰트 패밀리 */
  font-size: 16px; /* 폰트 크기 */
  font-weight: 700; /* 폰트 굵기 */
  position: absolute; /* 절대 위치 */
  right: 0; /* 오른쪽 여백 */
  left: 0; /* 왼쪽 여백 */
  bottom: 30%; /* 아래 여백 */
  top: 30%; /* 위 여백 */
  white-space: nowrap; /* 줄바꿈 방지 */
}

.today_word {
  color: #ffffff; /* 텍스트 색상 */
  text-align: center; /* 텍스트 가운데 정렬 */
  font-family: "Inter-Regular", sans-serif; /* 폰트 패밀리 */
  font-size: 16px; /* 폰트 크기 */
  font-weight: 400; /* 폰트 굵기 */
  position: absolute; /* 절대 위치 */
  right: 0; /* 오른쪽 여백 */
  left: 0; /* 왼쪽 여백 */
  bottom: 10%; /* 아래 여백 */
  top: 70%; /* 위 여백 */
}


