
/*왼쪽 말풍선*/
.ballon_left {
  position: absolute;
  width: 318px;
  height: 208px;
  left: 305px; /*피그마 x좌표*/
  top: 439px;; /*피그마 y좌표*/
  background: #367cff;
  color: #ffffff; /* 텍스트 색상 */
  border-radius: 20px;
  padding: 12px 12.8px;
  text-align: center; 
  line-height: 20px;
  
}

.ballon_left:after {
  content: "";
  position: absolute;
  bottom: -15px; /* 삼각형 위치 조정 (위로 올리기) */
  left: 1px; /* 꼬리 위치 조정 */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 40px solid #367cff; /* 삼각형 높이를 늘림 */
  transform: rotate(45deg); /* 삼각형을 45도 회전 */
}





/* 오른쪽 말풍선*/
.ballon_right {
  position: absolute;
  width: 202px;
  height: 85px;
  left: 861px; /*피그마 x좌표*/
  top: 393px;; /*피그마 y좌표*/
  background: #367cff;
  color: #ffffff; /* 텍스트 색상 */
  border-radius: 20px;
  padding: 12px 12.8px;
  text-align: center; 
  line-height: 20px;
}

.ballon_right:after {
  content: "";
  position: absolute;
  bottom: -15px; /* 삼각형 위치 조정 (위로 올리기) */
  right: 1px; /* 꼬리 위치 조정 */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 40px solid #367cff; /* 삼각형 높이를 늘림 */
  transform: rotate(300deg); /* 삼각형을 45도 회전 */
}

/*채팅박스*/

.chat_ractangle
{
  
    position: relative; /* 자식 요소의 절대 위치를 위한 기준 설정 */
    width: 400px; /* 채팅창 너비 */
    height: 300px; /* 채팅창 높이 */
    background-color: #f0f0f0; /* 채팅창 배경색을 회색으로 설정 */
    border-radius: 10px; /* 모서리 둥글게 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    padding: 20px; /* 내용과 모서리 간의 여백 */

}